.promo {
    background-image: url('./assets/image/start-screen-gradient-background.png');
    background-color: var(--color-dark-bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -18rem;
}

.promo__container {
    display: flex;
    justify-content: space-between;
}
.promo__content {
    display: flex;
    flex-direction: column;
    gap:4.2rem;
    margin-top: 16.5rem;
}
.promo__title {
    width: 31rem;
    font-family: 'Georgia';
    font-size: 4.4rem;
    line-height: 130%;
    color: var(--color-light-x);
}

.promo__description {
    width: 46rem;
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-dark-s);
}

.promo__btn {
    width: 20.8rem;
}
/*about*/
.about__container {
    display: flex;
    justify-content: space-between;
    padding: 0 17.5rem;
    gap: 12rem;
}
.about__content {
    display: flex;
    flex-direction: column;
    gap:2.5rem;
    margin-top: 1.5rem;
}

.about__title {
    width: 37rem;
}

.about__description {
    font-size: 1.5rem;
    line-height: 160%;
    color: var(--color-dark-xl);
}

/*pets*/
.pets {
    background-color:var(--color-light-l)
}
.pets__container {
    display: flex;
    flex-direction: column;
    gap:6rem;
    position: relative;
}
.pets__title {
    font-family: 'Georgia';
    width: 40rem;
    font-size: 3.5rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    display: flex;
    text-align: center;
    margin: 0 auto;
}
.pets__slider {
    margin: 0 auto;
}
.pets__slider-list {
    display: flex;
    gap:9rem;
    overflow: hidden;
}

.arrow {
    width: 5.2rem;
    height: 5.2rem;
    border: 0.2rem solid var(--color-primary);
    background-color:transparent;
    border-radius: 10rem;
    background-position:center;
    background-repeat:no-repeat;
    position: absolute;
    top:34rem;
    cursor: pointer;
}

.pets__prev-btn {
    background-image: url("./assets/image/prev.svg");
    left: 0;
}
.pets__next-btn {
    background-image: url("./assets/image/next.svg");
    right: 0;
}
.pets__btn{
    margin: 0 auto;
    width: 26.1rem;
}
/*help*/
.help {
    display: flex;
    flex-direction: column;
    gap:6rem;
}
.help__title {
    width: 31rem;
    margin: 0 auto;
    text-align: center;
}
.help__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 12rem;
    row-gap: 5.5rem;
}
.help__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 11.3rem;
}
.help__list-img {
    max-width: 100%;
    max-height: 100%;
}
.help__list-title {
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

/*donation*/
.donation {
    background-color: var(--color-light-l);
}
.donation__container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 14.3rem;
}
.donation__container img {
    height: 26.1rem;
    width: 50.5rem;
}
.donation__content {
    font-family: 'Georgia';
    display: flex;
    flex-direction: column;
    gap:2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.donation__title {
    width: 30rem;
}
.donation__bank {
    font-size: 1.5rem;
    color: var(--color-dark-l);
}
.donation__card {
    width: 349px;
    height: 43px;
    font-size: 2rem;
    display: flex;
    gap:1rem;
    align-items: center;
    color: var(--color-dark-l);
    background-color:var(--color-primary);
    border-radius: 0.9rem;
    padding: 1rem 1.5rem;
}
.donation__card-img {
    background-image:url("./assets/image/credit-card.svg");
    background-position:center;
    background-repeat:no-repeat;
    width: 3rem;
    height: 2.3rem;
}

.donation__info {
    font-family: Arial,Verdana,sans-serif;
    font-style: italic;
    font-size: 1.2rem;
    line-height: 1.8rem;
    display: flex;
    align-items: center;
    color: var(--color-dark-m);
    letter-spacing: 0px;
}

@media (max-width:1279px) {
    .section {
        padding: 8rem 0 10rem 0;
    }

    .promo {
        background-position:0;
    }
    .promo__container {
        flex-direction: column;
    }
    .promo__content {
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 10rem;
    }
    .promo__image {
        width:56.9rem;
        height: 59.3rem;
        align-self: end;
    }
    .promo__image img{
        height: 100%;
        width: 100%;
    }
    .promo__btn {
        margin: 0 auto;
    }
    .about__container {
        flex-direction: column-reverse;
        padding: 0 13.9rem;
        gap: 8rem;
    }
    .about__image {
        width: 30rem;;
        height: 40.8rem;
        align-self: center;
    }
    .about__content {
        margin: 0;
    }
    .pets__slider-list {
        gap: 4rem;
        width: 58rem;
    }
    .help {
        max-width: 63rem;
    }
    .help__list {
        gap:5.5rem;
        justify-content: space-between;
    }
    .help__list-item {
        height: 11.3rem;
        width: 17rem;
    }
    .donation__container  {
        flex-direction: column-reverse;
        padding:0;
        align-items: center;
        gap:6rem;
    }
    .donation__content {
        align-items: flex-start;
    }
    .donation__info {
        width: 38rem;
    }
    .donation__card{
        gap: 1.5rem; 
    } 
}