.header__light {
    background: var(--color-light-x);
    padding: 3rem 0;
}
.header__title, .header__subtitle, .header__nav-link.active {
    color: var(--color-dark-3xl);
}

.header__nav-link {
    color:var(--color-dark-l)
}
.header__light .header__burger-btn::before, 
.header__light .header__burger-btn::after, 
.header__light .header__burger-btn span {
    background-color:black;
}
.pets {
    background-color: #F6F6F6;
}
.pets__container {
    display: flex;
    flex-direction: column;
    gap:6rem;
    position: relative;
}
.pets__title {
    line-height: 130%;
    letter-spacing: 0.06em;
    margin: 0 auto;
    text-align: center;
}

.pets__slider {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 3rem;
    column-gap: 3rem;
    overflow: hidden;
}
.pagination {
    display: flex;
    gap:2rem;
    margin: 0 auto;
}

.pagination__btn {
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background-color: transparent;
    background-repeat:no-repeat;
    background-position:center;
    cursor:pointer;
}
.pagination__btn path {
    fill: var(--color-dark-3xl);
}
.pagination__btn:disabled path  {
    fill:var(--color-dark-s);
}
.pagination__btn:disabled {
    border: 2px solid var(--color-dark-s);
    cursor:default;
}
.pagination__part {
    font-family: 'Georgia';
    font-size: 2rem;
    line-height: 115%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:var(--color-primary);
    letter-spacing: 0.06em;
    color: var(--color-dark-3xl);
    border:none;
    cursor:default;
}

@media (max-width:1279px) {
    .pets {
        padding: 8rem 0 7.6rem 0;
    }
    .pets__container {
        gap: 3rem;
    }
    .pets__slider{
        grid-template-columns: repeat(2, auto);
        margin: auto;
        height: 136.5rem;
    }
    .pets__pagination {
        margin-top: 1rem;
    }
}


@media (max-width:767px) {
    .header__light .header__nav {
        background-color: #F6F6F6;
    }
    .header__light.header {
        min-height: 12rem
    } 
    .pets__container {
        gap: 4.2rem;
    }
    .pets {
        padding: 4.2rem 0;
    }
    .pets__slider {
        grid-template-columns: repeat(1, auto);
        height: 135.5rem;
    }
    .pagination {
        gap:1rem;
    } 
}